.header-body{
  background-color: #0f113f;
  width: 100%;
}
.navbar-body{
  background-color: #0f113f;
  height:100vh;
  width: 50px;
}
.nav-home{
  color: white;
  text-align: center;
  width: 100%;
  padding: 5px;
}
.nav-home:hover{
  background-color: #4460F1;
  cursor: pointer;
}
.view-patient-details-body{
  background-color: #E5E5E5;
}
.text-bold{
  font-weight: bold;
}
.vpd-more-details{
  text-align: right;
}
.vpd-more-details-text:hover{
  cursor: pointer;
  color: #4248ef;
}
@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
.patient-card{
  height: 300px;
}
.model-close-button{
  text-align: right;
  color: #ff0000;
  padding: 10px;
  font-size: 20px;
}
.model-close-button:hover{
  cursor: pointer;
}
.popup-content {
  margin: auto;
  background: #fff;
  width: 50%;
  padding: 5px;
  border-radius: 10px;
}
.cart-image{
  width: 100px;
  height: 100px;
}
.fixedButton{
  position: fixed;
  bottom: 0px;
  right: 0px; 
  padding: 20px;
}
.roundedFixedBtn{
  height: 40px; 
  width: 200px;  
  border-radius: 5%;
  background-color: #0f113f;;
  color: white;
  text-align: center;
  cursor: pointer;
  overflow-x: hidden;
  overflow-y: auto; 
}
.roundedFixedBtn-text{
  margin-top: 10px;
}
a{
  text-decoration: none;
}
.tableHeader{
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #4248ef;
}
.tableheaderBorder{
  border-bottom: 1px solid #ff0000;
}
.tableHeaderItem:hover{
  cursor: pointer;
}
.tableItemHeader{
  text-align: center;
  padding: 10px;
  font-weight:bold;
  color: #0f113f;
}
.tableItemBody{
  text-align: center;
  padding: 10px;
  font-weight:bold;
  color: #4460F1;
}